name: Continuous Integration

on:
  push:
    branches:
    - main

  pull_request:
    branches:
    - main


jobs:
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@ae10961054e4aa8b4aa7dffede299aaf087aa33b # v1.0.1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --all --all-features --all-targets -- -D warnings

  build-and-test:
    name: Test rust and wasm bindings
    runs-on: ubuntu-latest
    needs: lints
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: actions-rs/toolchain@b2417cde72dcf67f306c0ae8e0828a81bf0b189f # v1.0.6
        with:
          toolchain: stable

      - name: install wasm-pack
        run: cargo install wasm-pack

      - uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: v1.44

      - run: cargo test --all

      - run: wasm-pack build -t web wrapper/wasm-ll

      - name: wasm test
        run: deno test -A wrapper/wasm-ll/tests/tests.ts
